.container{
    display: flex;
    /* flex-directio: row-revers, row column direcion de los hijos de la caja*/
    /*flex-wrap: nowrap;*/
    /* justify-content:space-around; */
    align-items: 3;
    background-color: purple;
    height: 500px;
    margin-top: 500px;
    margin-bottom: 500px;
    
}

.container > div{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 10px;

}