body {
  background-color: #fffbf7;
  margin: 0;
  padding: 0;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 60px;
}

.imagen-capterra {
  align-items: center;
}

.bellow-tittle{
  color: black;
}

.trial  {
  color: #8b8b8bcc;
  text-align: center;
}

form>* {
  text-align: center;
}

input {
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}

button {
  color: #fff;
  background-color: #025157;
  text-align: center;
  padding: 12px 15px;
  border-radius: 5px;
}

image {
  text-align: center;
}

header>* {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.header {
  background-color: white;
  /* position: fixed; */
  width: 100%;
  top: 0;
}

li {
  display: inline;
}

.logo>img {
  width: 10%;
}



.navbar ul>li>a {
  color: #025157;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

.actions {
  width: 15%;
  display: inline;
}

.actions a {
  text-decoration: none;
  color: #67b54b;
  font-size: 16px;
  text-align: rigth;
  font-size: 15px;
  font-weight: 600;
  border: 0px;
}

.actions button {
  background-color: #67b54b;
  color: white;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  padding: 9px 11px 9px 11px;
}

main {
  margin: 80px;
  text-align: center;
}

.promo>h2>video>article>p {
  display: flex;
  flex-direction: column;
  
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;

}

.promo h2 {
  font-family: "Alegreya", serif;
  color: #025157;
  font-size: 40px;
}

.publish {
  flex-direction: column;
  margin-left: 45px;
 

}


.publish p {
  text-align: left;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #025157;
  padding: 5% 10%;

}


.features>.card {
  width: 550px;
  height: 310px;
  background-color: white;
  margin: 10px 20px;
  border-radius: 10px;
  display: flex;
  height: 200px;
}

.publish-icon {
  width: auto;
  margin-top: 0%;
  margin-bottom: 1rem;
  margin-left: 0%;

}

.content {

  margin: auto;
}

.content h3 {
  font-size: 24px;
  font-weight: 400;
}

.content p {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.content a {
  text-decoration: none;
  color: #67b54b;
  font-size: 16px;
  font-weight: 400;
}

.feature-image {
  align-items: center;
  width: 100px;
}

.carousel-general{
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}

.growing{
  flex-direction: column;
  padding-right: 120px;
  flex: 2;

}

.growing > h2{
  font-family: "Alegreya", serif;
  font-size: 62px;
  line-height: 61px;
  color: #025157;
  font-weight: 400;
}

.growing > p {
  color: #343434; 
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: 500;

}
.growing button{
  border-radius: 10px;
}

.carousel{
  background-color: #fff;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  margin: 20px;

}

.carousel h3{
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.carousel h4{
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.carousel figure button{
  align-items: center;
  width: 100%;
  border-radius: 20px;
}
.carousel figure{
  padding-left: 20%;
  padding-right: 20%;
}
.carousel p{
  color: #8b8b8bcc;
  
}
.results  img{
  width: 5000px;
  margin-right: 20px;
  vertical-align: middle;
  border-style: none;
}










@media (max-width: 425px) {

  body{
    width: 425px;
  }
  .main {
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
  }
  .video, video{
    width: 300px;
    margin-left: 10%;
    
  }
  h1 {
    font-size: 24px;
  }

  .navbar,
  .actions {
    display: none;
  }
  .promo{
    display: inline;
    
  }
  .features{
    grid-template-columns: 2fr;
    margin-top: 30px;
  }
  .features > .card{
    width: 100%;
    height: fit-content;
    margin-left: 0%;
    margin-bottom: 20px;
  }
  /* .features{
    grid-template-columns: 2fr;
    width: 200%;
    background-color: #025157;

  } */
  
  

  .carousel-general{
    display: block;
    margin: 0%;
    padding-left: 0%;
  }

  .carousel-general >.growing{
    margin-left: 20px;
  }

 .carousel{
   padding-right: 0px; 
  }

  
}